mixin about()
	section.s-about.section&attributes(attributes)
		.container
			h4.section__title О клинике
			.slide-two
				.slide-two-col.column
					h2.column__title Клиника управления здоровьем предлагает новый уровень обследования и&nbsp;лечения
					p.column__descr с&nbsp;персонализированной медициной Первого московского государственного медицинского университета им.&nbsp;И.М.&nbsp;Сеченова.

				.slide-two-col.column
					.column__item
						.column__item-img-wrap
							img(src="assets/images/column-item-img1.png").column__item-img
						p.column__item-descr Персонализированный подход к&nbsp;лечению и&nbsp;профилактике
					.column__item
						.column__item-img-wrap
							img(src="assets/images/column-item-img2.png").column__item-img
						p.column__item-descr Квалифицированные врачи с&nbsp;научными степенями и&nbsp;достижениями в&nbsp;медицине
					.column__item
						.column__item-img-wrap
							img(src="assets/images/column-item-img3.png").column__item-img
						p.column__item-descr Современные методы диагностики с&nbsp;наиболее точными результатами







