mixin about()
	section.s-about.section&attributes(attributes)
		.container
			h4.section__title О клинике
			.slide-two
				.slide-two-col.column
					h2.column__title Клиника управления здоровьем предлагает новый уровень обследования и лечения
					p.column__descr с персонализированной медициной Первого московского государственного медицинского университета им. И.М. Сеченова.

				.slide-two-col.column
					.column__item
						img(src="assets/images/column-item-img1.png").column__item-img
						p.column__item-descr Персонализированный подход к лечению и профилактике
					.column__item
						img(src="assets/images/column-item-img2.png").column__item-img
						p.column__item-descr Квалифицированные врачи с научными степенями и достижениями в медицине
					.column__item
						img(src="assets/images/column-item-img3.png").column__item-img
						p.column__item-descr Современные методы диагностики с наиболее точными результатами







