.btn-clinic
	display inline-block
	color bgc
	border-radius 20px
	border: none
	font-size 20px
	font-weight 500
	background-color limeade
	text-decoration none
	text-align: center
	vertical-align middle
	padding 12px 23px 13px
	max-height 45px
	transition 200ms all linear
	&:hover
		transform: scale(.95);