$helveticaNeue = 'Helvetica Neue', Helvetica, Arial, sans-serif
helveticaNeueCyr = 'Helvetica Neue Cyr', 'Helvetica Neue', Helvetica, Arial, sans-serif
//plumbc = 'Plumb C', 'Helvetica Neue', Helvetica, Arial, sans-serif
//$futurac = 'Helvetica Neue', "Helvetica Neue", Helvetica, Arial, sans-serif

// Helvetica Neue //
@font-face
	font-family 'Helvetica Neue'
	src local('HelveticaNeue-UltraLight'),
	url('../fonts/HelveticaNeue/HelveticaNeue-UltraLight.eot'),
	url('../fonts/HelveticaNeue/HelveticaNeue-UltraLight.eot?#iefix') format('embedded-opentype'),
	url('../fonts/HelveticaNeue/HelveticaNeue-UltraLight.otf') format('otf'),
	url('../fonts/HelveticaNeue/HelveticaNeue-UltraLight.ttf') format('truetype')
	font-weight 100
	font-style normal

@font-face
	font-family 'Helvetica Neue'
	src local('HelveticaNeue-UltraLightItalic'),
	url('../fonts/HelveticaNeue/HelveticaNeue-UltraLightItalic.eot'),
	url('../fonts/HelveticaNeue/HelveticaNeue-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/HelveticaNeue/HelveticaNeue-UltraLightItalic.otf') format('otf'),
	url('../fonts/HelveticaNeue/HelveticaNeue-UltraLightItalic.ttf') format('truetype')
	font-weight 100
	font-style italic

@font-face
	font-family 'Helvetica Neue'
	src local('HelveticaNeue-Light'),
	url('../fonts/HelveticaNeue/HelveticaNeue-Light.eot'),
	url('../fonts/HelveticaNeue/HelveticaNeue-Light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/HelveticaNeue/HelveticaNeue-Light.woff') format('woff'),
	url('../fonts/HelveticaNeue/HelveticaNeue-Light.woff2') format('woff2'),
	url('../fonts/HelveticaNeue/HelveticaNeue-Light.ttf') format('truetype')
	font-weight 200
	font-style normal

@font-face
	font-family 'Helvetica Neue'
	src local('HelveticaNeue-LightItalic'),
	url('../fonts/HelveticaNeue/HelveticaNeue-LightItalic.eot'),
	url('../fonts/HelveticaNeue/HelveticaNeue-LightItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/HelveticaNeue/HelveticaNeue-LightItalic.otf') format('otf'),
	url('../fonts/HelveticaNeue/HelveticaNeue-LightItalic.ttf') format('truetype')
	font-weight 200
	font-style italic

@font-face
	font-family 'Helvetica Neue'
	src local('HelveticaNeue'),
	url('../fonts/HelveticaNeue/HelveticaNeue.eot'),
	url('../fonts/HelveticaNeue/HelveticaNeue.eot?#iefix') format('embedded-opentype'),
	url('../fonts/HelveticaNeue/HelveticaNeue.woff') format('woff'),
	url('../fonts/HelveticaNeue/HelveticaNeue.ttf') format('truetype')
	font-weight 300
	font-style normal

@font-face
	font-family 'Helvetica Neue'
	src local('HelveticaNeue-Italic'),
	url('../fonts/HelveticaNeue/HelveticaNeue-Italic.eot'),
	url('../fonts/HelveticaNeue/HelveticaNeue-Italic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/HelveticaNeue/HelveticaNeue-Italic.otf') format('otf'),
	url('../fonts/HelveticaNeue/HelveticaNeue-Italic.ttf') format('truetype')
	font-weight 300
	font-style italic

@font-face
	font-family 'Helvetica Neue'
	src local('HelveticaNeue-Medium'),
	url('../fonts/HelveticaNeue/lveticaNeue-Medium.eot'),
	url('../fonts/HelveticaNeue/lveticaNeue-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/HelveticaNeue/lveticaNeue-Medium.woff') format('woff'),
	url('../fonts/HelveticaNeue/lveticaNeue-Medium.woff2') format('woff2'),
	url('../fonts/HelveticaNeue/lveticaNeue-Medium.otf') format('otf'),
	url('../fonts/HelveticaNeue/lveticaNeue-Medium.ttf') format('truetype')
	font-weight 500
	font-style normal

@font-face
	font-family 'Helvetica Neue'
	src local('HelveticaNeue-MediumItalic'),
	url('../fonts/HelveticaNeue/HelveticaNeue-MediumItalic.otf') format('otf'),
	url('../fonts/HelveticaNeue/HelveticaNeue-MediumItalic.ttf') format('truetype')
	font-weight 500
	font-style italic

@font-face
	font-family 'Helvetica Neue'
	src local('HelveticaNeue-Bold'),
	url('../fonts/HelveticaNeue/HelveticaNeue-Bold.eot'),
	url('../fonts/HelveticaNeue/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/HelveticaNeue/HelveticaNeue-Bold.woff') format('woff'),
	url('../fonts/HelveticaNeue/HelveticaNeue-Bold.otf') format('otf'),
	url('../fonts/HelveticaNeue/HelveticaNeue-Bold.ttf') format('truetype')
	font-weight 700
	font-style normal

@font-face
	font-family 'Helvetica Neue'
	src local('HelveticaNeue-BoldItalic'),
	url('../fonts/HelveticaNeue/HelveticaNeue-BoldItalic.eot'),
	url('../fonts/HelveticaNeue/HelveticaNeue-BoldItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/HelveticaNeue/HelveticaNeue-BoldItalic.otf') format('otf'),
	url('../fonts/HelveticaNeue/HelveticaNeue-BoldItalic.ttf') format('truetype')
	font-weight 700
	font-style italic


@font-face
	font-family 'Helvetica Neue'
	src local('HelveticaNeue-Black'),
	url('../fonts/HelveticaNeue/HelveticaNeue-Black.eot'),
	url('../fonts/HelveticaNeue/HelveticaNeue-Black.eot?#iefix') format('embedded-opentype')
	font-weight 900
	font-style normal




//Helvetica Neue Cyrilic//
@font-face
	font-family 'Helvetica Neue Cyr'
	src local('helveticaneuecyr-light'),
	url('../fonts/HelveticaNeueCyr/helveticaneuecyr-light.eot'),
	url('../fonts/HelveticaNeueCyr/helveticaneuecyr-light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/HelveticaNeueCyr/helveticaneuecyr-light.woff') format('woff'),
	url('../fonts/HelveticaNeueCyr/helveticaneuecyr-light.woff2') format('woff2'),
	url('../fonts/HelveticaNeueCyr/helveticaneuecyr-light.ttf') format('truetype')
	font-weight 200
	font-style normal

@font-face
	font-family 'Helvetica Neue Cyr'
	src local('HelveticaNeueCyr-Reg'),
	url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Reg.eot'),
	url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Reg.eot?#iefix') format('embedded-opentype'),
	url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Reg.woff') format('woff'),
	url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Reg.woff2') format('woff2'),
	url('../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Reg.ttf') format('truetype')
	font-weight 300
	font-style normal

@font-face
	font-family 'Helvetica Neue Cyr'
	src local('helveticaneuecyr-medium'),
	url('../fonts/HelveticaNeueCyr/helveticaneuecyr-medium.eot'),
	url('../fonts/HelveticaNeueCyr/helveticaneuecyr-medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/HelveticaNeueCyr/helveticaneuecyr-medium.otf') format('otf'),
	url('../fonts/HelveticaNeueCyr/helveticaneuecyr-medium.ttf') format('truetype')
	font-weight 500
	font-style normal

@font-face
	font-family 'Helvetica Neue Cyr'
	src local('helveticaneuecyr-bold'),
	url('../fonts/HelveticaNeueCyr/helveticaneuecyr-bold.eot'),
	url('../fonts/HelveticaNeueCyr/helveticaneuecyr-bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/HelveticaNeueCyr/helveticaneuecyr-bold.woff') format('woff'),
	url('../fonts/HelveticaNeueCyr/helveticaneuecyr-bold.woff2') format('woff2'),
	url('../fonts/HelveticaNeueCyr/helveticaneuecyr-bold.otf') format('otf'),
	url('../fonts/HelveticaNeueCyr/helveticaneuecyr-bold.ttf') format('truetype')
	font-weight 700
	font-style normal

