//fonts
base-font = 16px //основной размер шрифта



//colors
bgc = #fff //белый
bgcgray = #f2f3f3; //серый фон секций
limeade = #41AD03 //зеленый
endeavour = #0054A6 //синий основной
robinEggBlue = #00bfdf //синий личный кабинет
regentGray = #8D9EA9 //серый для текста шапки
raven = #72808A //серый для текста описания на странице
botticelli = #d2dee6 //цвет бордеров