mixin services()
	section.s-services.section&attributes(attributes)
		.container
			h4.section__title Услуги клиники Управления Здоровьем
			.services
				.slide
					.slide-item
						.slide-item__img-wrap
							img(src="assets/images/passport-icon.png" alt="Иконка").slide-item__img
						h3.slide-item__title Генетический паспорт здоровья
						p.slide-item__descr Вы на пороге новых открытий. Генетический анализ может показать многое
						a(href="#").btn-clinic.slide-item__btn Подробнее
					.slide-item
						.slide-item__img-wrap
							img(src="assets/images/checkup-icon.png" alt="Иконка").slide-item__img
						h3.slide-item__title Check Up<br>тест
						p.slide-item__descr Хотите узнать больше о состоянии своего здоровья? Запишитесь на check-up!
						a(href="#").btn-clinic.slide-item__btn Подробнее
					.slide-item
						.slide-item__img-wrap
							img(src="assets/images/online-icon.png" alt="Иконка").slide-item__img
						h3.slide-item__title Online-<br>врач
						p.slide-item__descr Теперь ваш лечащий врач всегда рядом с вами. Для этого достаточно быть онлайн
						a(href="#").btn-clinic.slide-item__btn Подробнее
			a(href="#").section__link Все услуги
				span.section__link-icon

