mixin slider()
	section.s-slider.section&attributes(attributes)
		.s-container
			.slider
				.slider__navigation.slider__navigation--prev
				.slider__navigation.slider__navigation--next
				.slider__dots
				.js-slider
					.slider__slide.slide
						.slide__content
							.slide__body
								h2.slide__title Паспорт здоровья
								p.slide__descr Комплексное медицинское обследование для&nbsp;людей, не имеющих жалоб на здоровье.
								a(href="#").btn-clinic.btn-clinic--slider Что входит в тест?
							.slide__img-wrapper
								img(src="assets/images/slider/check-up.png").slide__img
					.slider__slide.slide
						.slide__content
							.slide__body
								h2.slide__title Check Up тест
								p.slide__descr Комплексное медицинское обследование для&nbsp;людей, не имеющих жалоб на здоровье.
								a(href="#").btn-clinic.btn-clinic--slider Что входит в тест?
							.slide__img-wrapper
								img(src="assets/images/slider/check-up.png").slide__img
					.slider__slide.slide
						.slide__content
							.slide__body
								h2.slide__title Online-врач
								p.slide__descr Комплексное медицинское обследование для&nbsp;людей, не имеющих жалоб на здоровье.
								a(href="#").btn-clinic.btn-clinic--slider Что входит в тест?
							.slide__img-wrapper
								img(src="assets/images/slider/check-up.png").slide__img
					.slider__slide.slide
						.slide__content
							.slide__body
								h2.slide__title Check Up тест
								p.slide__descr Комплексное медицинское обследование для&nbsp;людей, не имеющих жалоб на здоровье.
								a(href="#").btn-clinic.btn-clinic--slider Что входит в тест?
							.slide__img-wrapper
								img(src="assets/images/slider/check-up.png").slide__img
