.s-doctors
	.section
		&__title
			margin-bottom 55px
.doctors
	display flex
.doctor-card
	padding 0 20px
	text-align: center
	display: flex;
	flex-direction column
	&__photo
		width 261px
		height 262px
		border-radius 50%
		overflow: hidden
		margin-bottom 33px
	&__post
		
		font-size 19px
		font-weight: bold
		color endeavour
		display: block
		