mixin doctors()
	section.s-doctors.section&attributes(attributes)
		.container
			h4.section__title Лучшие врачи Москвы
			.doctors
				.doctor-card
					img(src="assets/images/doc1.png").doctor-card__photo
					span.doctor-card__post Директор института персонализированной медицины
					span.doctor-card__degree Доктор медицинских наук
					span.doctor-card__name Копылов Филипп Юрьевич
				.doctor-card
					img(src="assets/images/doc2.png").doctor-card__photo
					span.doctor-card__post Ведущий специалист в области гастроэнтерологии
					span.doctor-card__degree Кандидат медицинских наук
					span.doctor-card__name Павлов Чавдар Савов
				.doctor-card
					img(src="assets/images/doc3.png").doctor-card__photo
					span.doctor-card__post Врач-невролог высшей категории
					span.doctor-card__degree Кандидат медицинских наук
					span.doctor-card__name Толмачева Виолетта Александровна
				.doctor-card
					img(src="assets/images/doc4.png").doctor-card__photo
					span.doctor-card__post Врач-генетик
					span.doctor-card__degree Кандидат медицинских <наук></наук>
					span.doctor-card__name Балашова Мария Сергеевна

			a(href="#").section__link Все специалисты
				span.section__link-icon >



